*{
    padding: 0;
    margin: 0;
} 

.dropdown {
    display: none;
}

.navbar {
    display: flex ;
    justify-content: space-between;
}

.navbar ul {
    margin-top: 30px;
    display: inline-flex;
    list-style-type: none;
 }

 .navbar ul li {
    justify-content: space-around;
    margin: 10px 60px;
 }
 
 .navbar ul li a {
    font-family: hanalei fill;
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: xx-large;
 }

 .navbar ul li a:hover {
    color: lightslategray;
 }

 .navbar img {
     margin: 5px 20px;
 }

 .homeRed {
    color:#FA4A0C;
 }
 
 .imgtop{
    width: 114%;
 }

 .imgtop img {
     width: 100%;
     height: 619px;
 }
.foodapp {
    color:antiquewhite;
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin:62px 94px;
    width: 90%;
}
.foodapp h2 {
    margin: 30px auto;
    font-size: 24px;
    font-weight: bold;
    width: 50%;
}
.foodapp p {
    margin: 70px auto;
    font-size: 50px;
}
.foodapp img {
    display:inline-flex;
    width: 100%;
}
h1 {
    margin: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Hanalei Fill';
    font-size: xxx-large;
}
h2 {
    margin: 20px;
}

#info{
    display: flex;
    justify-content: space-evenly;
    margin: 26px;
    margin-left: 60px;
    padding-bottom: 60px;
}

.boxinfo1 p {
    font-family: hanalei fill;
    margin-top: 40px; 
    font-size: x-large;   
}

.boxinfo2 p {
    font-family: hanalei fill;
    margin-top: 40px;
    font-size: x-large;
}

.boxinfo3 p {
    margin-top: 40px;
    font-family: hanalei fill;
    font-size: x-large;
}


#info .boxinfo4 {
    grid-row:3;
}

.boxinput input {
    height: 40px;
    width: 252px;
    border: 4px inset #BFBFBF;
    border-radius: 5px;
}

.upload {
    margin-left:60px;
    display: flex;
    justify-content: center;
}
a.boxup {
    border: 1px solid #FA4A0C;   
    background-color:#FA4A0C ;
    text-decoration: none;
    padding-right:40px;
    color: white;
    font-family: roboto;
    font-size: 30px;
    padding-left: 30px;
    cursor: pointer;
    border-radius: 5px;
}
a.boxup:hover {
    border: 1px solid #FA4A0C;   
    background-color:#95300c ;
    text-decoration: none;
    padding-right:40px;
    color: white;
    font-family: roboto;
    font-size: 30px;
    padding-left: 30px;
    cursor: pointer;
    border-radius: 5px;
}
a.boxup1 {
    text-decoration: none;
    color: grey;
    font-size: xx-large;
}
a.boxup1:hover {
    text-decoration: none;
    color: goldenrod;
    font-size: xx-large;
}

div.captcha {
    margin-top: 35px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
}

.boxom {
    display: grid;
    grid-template-rows: 35px 0px 25px 20px 20px 155px;
    width: 100%;
    margin-top: 80px;
    margin-left: 60px;
}

.boxom p{
    font-size: 22px;
    margin-top: 10px;
    font-family: hanalei fill;
}

textarea{
    width: 80%;
    HEIGHT: 100%;
    BORDER-RADIUS: 5PX;
    cursor: text;
    appearance: textfield;
    font-size: 20px;
    border: 4px inset;
}
#ing-select {
    width:20%;
    border-radius: 5px;
    border: 4px inset;
}

.boxmes input {
    WIDTH: 80%;
    HEIGHT: 100%;
    border-radius: 5px;
}

.googlemaps {
    margin: 40px 60px;
    width: 96%;
}

iframe {
    width: 83%;
    height: 490px;
}

footer div {
    border: 1px solid #FA4A0C;
    height: 71px;
    width: 147px;
    border-radius: 30px;
    margin-left: 70%;
    margin-top: 16%;
    background-color: #FA4A0C;
    margin-bottom: 70px;
}
footer div a {
    text-decoration:none;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: bold;
    color: white;
    POSITION: absolute;
    margin: 20px auto 20px 20px;
}
label {
    font-family: hanalei fill;
    font-size: 22px;
}
input {
    color: #BFBFBF;
}