*{
    padding: 0;
    margin: 0;
} 

.navbar {
    display: flex ;
    justify-content: space-between;
}
.navbar ul {
    margin-top: 30px;
    display: inline-flex;
    list-style-type: none;
 }
 .navbar ul li {
    justify-content: space-around;
    margin: 10px 60px;
 }
 .navbar ul li a {
    font-family: Montserrat;
    text-decoration: none;
    font-style: bold;
    font-weight: 600;
 }
 .navbar img {
     margin: 5px 20px;
 }
 .dropdown{
     display: none;
 }
 .homeRed {
    color:#FA4A0C;
 }
 .imgtop img {
     width: 100%;
 }
.foodapp {
    color:antiquewhite;
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin:62px 94px;
    width: 90%;
}
.foodapp h2 {
    margin: 30px auto;
    font-size: 24px;
    font-weight: bold;
    width: 50%;
}
.foodapp p {
    margin: 30px auto;
    font-size: 50px;
    margin-top: 56px;
}
.foodapp img {
    display:inline-flex;
    width: 100%;
}


.h1top h1{
    margin: 20px;
    font-family: hanalei fill;
}
.ptitle p {
    margin: 20px;
    font-family: hanalei fill;
    font-size: xx-large;
}

#info{
    display: flex;
    justify-content: space-evenly;
}
.boxinfo1 p {
    font-family: hanalei fill;   
    margin-top: 10px;
    font-size: x-large;
}
.boxinfo2 {
    grid-row:1/3;
}
.boxinfo2 p {
    font-family: hanalei fill;
    margin-top: 10px;
    font-size: x-large;
}
.boxinput input {
    height: 40px;
    width: 280px;
    border: 5px inset #BFBFBF;
    border-radius: 5px;
    color:#BFBFBF;
}
#cmd {
    display: grid;
    grid-template-columns:50% 50% ;
    grid-gap: 10%;
    margin:20px;
    width: 100%;
}

#ing-select {
    border: 4px inset;
}

.cmdp4f {
    display: flex;
    width: 89%;
    HEIGHT: 80px;
    justify-content: space-between;
}
.cmdp4f p{
    font-family: hanalei fill;
    color: #FA4A0C;
    font-weight: bold;
    font-size: 36px;
}
.boxcmd1{
    display:grid;
    width: 320px;
}
.boxcmd1 p {
    font-family: hanalei fill;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: x-large;
}
.boxcmd1 input{
    height:50px;
    border: 4px inset;
    color: #BFBFBF;
}
.boxcmd2{
    display:grid;
    width: 320px;
}
.boxcmd2 p {
    font-family: hanalei fill;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: x-large;
}
.boxcmd2 input{
    height:50px;
    border: 4px inset;
    color: #BFBFBF;
}
#boxbd {
    display: grid;
    grid-template-columns: 50% 50%;
}
.boxbd1 div{
    display: grid;
    grid-template-columns: 4% 20% 30%;
    margin: 20px;
    width: 100%;
}
input.boxinputboissons{
    HEIGHT: 22PX;
    WIDTH: inherit;
}
.boxbd2 div{
    display: grid;
    grid-template-columns: 7% 24% 30%;
    margin:20px;
    width: 100%;
}

#bs-select {
    border: 4px inset;
}
.frites{
    list-style-type: none;
}
.frites input {
    width: 5%;
    HEIGHT: 21px;
    cursor: pointer;
}

input{
    color: #BFBFBF;
}
hr {
    width: 50%;
    HEIGHT: 2px;
    BACKGROUND-COLOR: GREY;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
}
footer div {
    border: 1px solid #FA4A0C;
    height: 71px;
    width: 147px;
    border-radius: 30px;
    margin-left: 80%;
    margin-top: 20%;
    background-color: #FA4A0C;
    margin-bottom: 70px;
}
footer div a {
    text-decoration:none;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: bold;
    color: white;
    POSITION: absolute;
    margin: 20px auto 20px 20px;
}
label {
    font-family: hanalei fill;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: x-large;
}